<div style="padding: 10px;">
  <mat-card class="container">
    <mat-card-title>{{chart.title}}</mat-card-title>
    <mat-card-subtitle>{{chart.subtitle}}</mat-card-subtitle>
    <mat-card-content>
      <div class="row">
        <div class="col-4">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio <br> hh</li>
            <li class="list-group-item">Dapibus ac <br> facilisis in</li>
          </ul>
        </div>
        <div class="col-8">
          <div style="height: 400px; background:antiquewhite"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
