<h5 style="font-weight: bold">{{this.dropdownConfig.title}}</h5>
<div *ngIf="is2Dropdowns()" class="container">
  <div class="row">
    <div class="col-6" style="padding: 0; margin:0; padding-right: 5px;">
      <label [for]="dropdownConfig.title+1">
        <p style="margin-bottom:0;  margin-left: 1px;">{{dropdownConfig.label}}</p>
      </label>
      <select class="custom-select" [id]="dropdownConfig.title+1">
        <option *ngFor="let item of dropdownConfig.items">{{item}}</option>
      </select>
    </div>
    <div class="col-6" style="padding: 0; margin: 0;">
      <label [for]="dropdownConfig.title+2">
        <p style="margin-bottom:0; margin-left: 1px;">{{dropdownConfig.label2}}</p>
      </label>
      <select class="custom-select" [id]="dropdownConfig.title+2">
        <option *ngFor="let item of dropdownConfig.items2">{{item}}</option>
      </select>
    </div>
  </div>
</div>
<div *ngIf="!is2Dropdowns()" class="container">
  <div class="row">
    <div class="col-12" style="padding: 0; margin:0; padding-right: 5px;">
      <label [for]="dropdownConfig.title+1">
        <p style="margin-bottom:0;  margin-left: 1px;">{{dropdownConfig.label}}</p>
      </label>
      <select class="custom-select" [id]="dropdownConfig.title+1">
        <option *ngFor="let item of dropdownConfig.items">{{item}}</option>
      </select>
    </div>
  </div>
</div>
